/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

body {
  background-image: url("../images/dark_wall/dark_wall.png");
  font-family: "Raleway", sans-serif;
  color: white;
}

body a:link {
  color: white;
  text-decoration: none;
}

body a:visited {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sticky {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  /*Chrome cannot render position:fixed on elements under a transformation.*/
}

.section-name {
  width: 25%;
  font-size: 2rem;
  border-bottom: 1px solid white;
}

header {
  width: 100%;
  height: 10rem;
  background-color: black;
  border-bottom: 3px solid #c92121;
}

.grid-container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

div#logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 8rem;
  margin: 1rem 0 0.5rem 1rem;
}

nav#menu {
  float: right;
  list-style-type: none;
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
}

nav#menu li {
  display: inline-block;
  padding: 10px;
  font-size: 1.1rem;
}

nav#menu li:first-child {
  background-color: #c92121;
  border-radius: 2px;
}

nav#menu li:hover {
  background-color: #c92121;
  border-radius: 2px;
}

#slideshow {
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: 30rem;
}

#slideshow .news-pictures {
  position: absolute;
}

#slideshow .news-pictures h1 {
  width: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;
  font-size: 3rem;
  padding-top: 23%;
}

#slideshow .news-pictures p {
  width: 100%;
  position: absolute;
  z-index: 1;
  text-align: center;
  font-size: 2rem;
  padding-top: 30%;
}

#slideshow .news-pictures img {
  width: 100%;
  height: 30rem;
}

.artist {
  position: relative;
  height: 20rem;
  float: left;
  padding: 0;
}

.artist img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.artist:hover h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 3rem;
  z-index: 1;
  font-size: 3rem;
  background-color: #c92121;
  opacity: 0.9;
  padding-top: 1rem;
}

.artist:hover .media-container {
  position: absolute;
  width: 100%;
  top: 5rem;
  z-index: 1;
  font-size: 1.7rem;
  background-color: #c92121;
}

.artist:hover p {
  width: 50%;
  margin: 1rem auto;
}
