#purchase-confirmation {
  display: none;
  position: fixed;
  z-index: 999;
  padding: 2rem 2rem;
  font-size: 5rem;
  text-align: center;
  top: 40vh;
  left: 70vh;
  margin: 0 auto;
  background-color: #c92121;
  opacity: 0.95;
  border-radius: 5px;
}

#albums {
  .section-name{
    width: 60%;
  }
  .album {
    width: 25%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
    .item_price {
      font-weight: bold;
    }
    p {
      text-align: center;
    }
    .icon-spotify {
      font-size: 2rem;
      color: #4db965;
    }
    .icon-youtube {
      font-size: 2rem;
      color: #e02d28;
      text-align: center;
    }
    .item_add {
      display: inline-block;
      float: right;
      margin-bottom: 1rem;
      padding: 0.5rem;
      font-size: 1.5rem;
      border-radius: 5px;
      background: rgba(237,38,38,1);
      background: -moz-linear-gradient(top, rgba(237,38,38,1) 0%, rgba(159,26,26,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,38,38,1)), color-stop(100%, rgba(159,26,26,1)));
      background: -webkit-linear-gradient(top, rgba(237,38,38,1) 0%, rgba(159,26,26,1) 100%);
      background: -o-linear-gradient(top, rgba(237,38,38,1) 0%, rgba(159,26,26,1) 100%);
      background: -ms-linear-gradient(top, rgba(237,38,38,1) 0%, rgba(159,26,26,1) 100%);
      background: linear-gradient(to bottom, rgba(237,38,38,1) 0%, rgba(159,26,26,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed2626', endColorstr='#9f1a1a', GradientType=0 );
    }
  }
  .track-list {
    @include font-size($li-font-sizes);
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 0;
    ol {
      margin-left: 6rem;
    }
  }
}

// Section Videos
#videos {
  .heading {
    padding: 0;
  }
}
