body {
  background-image: url("../images/dark_wall/dark_wall.png");
  font-family: "Raleway", sans-serif;
  color: white;
  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
}

* {
  box-sizing: border-box;
}

// Class for sticky menu
.sticky {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  /*Chrome cannot render position:fixed on elements under a transformation.*/
}

.section-name {
  width: 25%;
  font-size: 2rem;
  // margin: 2rem 0 2rem 0;
  border-bottom: 1px solid white;
}
// Header
 header {
   width: 100%;
   height: 10rem;
   background-color: black;
   border-bottom: 3px solid #c92121;
 }
.grid-container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}
div#logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 8rem;
  margin: 1rem 0 0.5rem 1rem;
}
nav#menu {
  float:right;
  list-style-type: none;
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
  li {
    display: inline-block;
    padding: 10px;
    font-size: 1.1rem;
    &:first-child{
      background-color: #c92121;
      border-radius: 2px;
    }
    &:hover {
      background-color: #c92121;
      border-radius: 2px;
    }
  }
}

// Section News
#slideshow {
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: 30rem;
  .news-pictures {
    position: absolute;
    h1 {
      width: 100%;
      position: absolute;
      z-index: 1;
      text-align: center;
      font-size: 3rem;
      padding-top: 23%;
    }
    p {
      width: 100%;
      position: absolute;
      z-index: 1;
      text-align: center;
      font-size: 2rem;
      padding-top: 30%;    }
    img {
      width: 100%;
      height: 30rem;
    }
  }
}

// Section Artists

.artist {
  position: relative;
  height: 20rem;
  float: left;
  padding: 0;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &:hover {
    h1 {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 3rem;
      z-index: 1;
      font-size: 3rem;
      background-color: #c92121;
      opacity: 0.9;
      padding-top: 1rem;
    }
    .media-container {
      position: absolute;
      width: 100%;
      top: 5rem;
      z-index: 1;
      font-size: 1.7rem;
      background-color: #c92121;
    }
    p {
      width: 50%;
      margin: 1rem auto;
    }
  }
}
