body {
  background-image: url("../images/binding_dark/binding_dark.png");
  font-family: "Raleway", sans-serif;
  color: white;
  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
  .section-name {
    width: 25%;
    font-size: 2rem;
    border-bottom: 1px solid white;
  }
  .content {
    width: 50%;
    text-align: justify;
  }
}

// Class for sticky menu
.sticky {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  /*Chrome cannot render position:fixed on elements under a transformation.*/
  }

// Header
 header {
   width: 100%;
   height: 5.5rem;
   background-color: black;
   border-bottom: 3px solid #c92121;
 }
.grid-container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}
/* Logo isn't aligned to the middle when resizing the window */
#main-logo {
  padding: 0.25rem 0 0 0;
  img {
  width: 60%;
  height: 30%;
  }
}
nav#menu {
  display: flex;
  justify-content: flex-end;
  float:right;
  list-style-type: none;
  margin-top: 1.5rem;
  padding: 0;
  li {
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
    &:first-child{
      background-color: #c92121;
      border-radius: 2px;
    }
    &:hover {
      background-color: #c92121;
      border-radius: 2px;
    }
  }
}
/* Spacer is necessary to have 'Section News' visible.
Otherwise it will hide behind the header.*/
#spacer {
  width: 100%;
  height: 5.5rem;
}

// Section News
#news {
  &:before {
    content:"";
    display:block;
    height:5.5rem; /* fixed header height*/
    margin:-5.5rem 0 0; /* negative fixed header height */
  }
  #slideshow {
    position: relative;
    width: 90%;
    height: 30rem;
    margin: 0 auto;
    .news-pictures {
      position: absolute;
      h1 {
        width: 100%;
        position: absolute;
        z-index: 1;
        text-align: center;
        font-size: 3rem;
        top: 40%;
      }
      p {
        width: 100%;
        position: absolute;
        z-index: 1;
        text-align: center;
        font-size: 2rem;
        top: 55%;
      }
      img {
        width: 100%;
        height: 30rem;
      }
    }
  }
}


// Section Artists
#artists{
  &:before {
    content:"";
    display:block;
    height:5.5rem; /* fixed header height*/
    margin:-5.5rem 0 0; /* negative fixed header height */
  }
  .artist {
    position: relative;
    height: 20rem;
    float: left;
    padding: 0;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    // &:hover {
      .media-container {
        h1 {
          position: absolute;
          width: 100%;
          height: 4rem;
          text-align: center;
          top: 4rem;
          z-index: 1;
          font-size: 3rem;
          background-color: #c92121;
          opacity: 0.9;
          padding-top: 0.6rem;
          &:hover {
            background-color: #9f1a1a;
          }
        }
        p {
          position: relative;
          width: 100%;
          padding-top: 0;
          padding-bottom: 0.5rem;
          margin: 0;
          top: 10.5rem;
          z-index: 1;
          text-align: center;
          font-size: 1.5rem;
          background-color: #c92121;
          opacity: 0.9;
          &:hover {
            background-color: #9f1a1a;
          }
        }
      }
    // }
  }
}

//Section Releases
#releases {
  &:before {
    content:"";
    display:block;
    height:5.5rem; /* fixed header height*/
    margin:-5.5rem 0 0; /* negative fixed header height */
  }
  .release {
    position: relative;
    height: 25rem;
    float: left;
    padding: 0;
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
    .album-container {
      width: 80%;
      height: 73%;
      margin: 0.5rem auto -0.5rem  auto;
      padding-bottom: 0;
      img {
        position: relative;
        display: block;
        margin: 0 auto;
      }
      .more-info {
        visibility: hidden;
      }
      &:hover {
        .more-info {
          position: absolute;
          visibility: visible;
          width: 75%;
          margin: 0 auto;
          padding-top: 1rem;
          padding-bottom: 1rem;
          top: 12rem;
          left: 3.1rem;
          text-align: center;
          font-size: 1.5rem;
          background-color: #c92121;
          opacity: 0.9;
          &:hover {
            background-color:#9f1a1a;
          }
        }
      }
    }
    h6 {
      width: 90%;
      margin: 0 auto;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: #c92121;
    }
    p {
      position: relative;
      width: 90%;
      margin: 0 auto;
      padding: 0.3rem 0;
      font-size: 1.2rem;
      background-color: #c92121;
    }
  }
}

//Section Videos
#videos {
  &:before {
    content:"";
    display:block;
    height:5.5rem; /* fixed header height*/
    margin:-5.5rem 0 0; /* negative fixed header height */
  }
  .gifs {
    height: 15rem;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .see-all {
    display: flex;
    justify-content: center;
    a {
      margin: 0 1rem 0 1rem;
      width: 15rem;
      height: 3rem;
      background-color: #c92121;
      border-radius: 5px;
      font-size: 1.3rem;
      text-align: center;
      padding-top: 1rem;
    }
  }
}

//Footer
footer {
  width: 100%;
  background-color: black;
  border-top: 3px solid #c92121;
  div {
    height: 8rem;
    margin: 0 auto;
    padding-bottom: 0.5rem;
  }
  .footer-contact {
    display: block;
    padding: 0;
    text-align: center;
    font-size: 0.9rem;
    p {
      margin: 0;
    }
    .email {
      color: #c92121;
      border-bottom: 1px solid #c92121;
    }
    img {
      position: relative;
      text-align: center;
      top: 10%;
      width: 70%;
      height: 80%;
    }
    [class^="icon-"] {
      position: relative;
      top: 40%;
      font-size: 2rem;
    }
    .icon-mail{
      right: 0;
    }
  }
}
