body {
  background-image: url("../images/dark_wall/dark_wall.png");
  font-family: "Raleway", sans-serif;
  color: #ffffff /* tymczasowo do tworzenia strony. Na koncu zmienic*/
}

// Header
 header {
   height: 10rem;
 }
.grid-container {
  width: 100%;
  height: auto;
  max-width: 1366px;
  margin: 0 auto;
}
div#logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 8rem;
  margin: 1rem 0 2rem 1rem;
}
nav#menu {
  float:right;
  list-style-type: none;
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
  li {
    display: inline-block;
    padding: 10px;
    font-size: 1.2rem;
    &:first-child{
      background-color: #c92121;
      border-radius: 2px;
    }
    &:hover {
      background-color: #c92121;
      border-radius: 2px;
    }
  }
}

// News slider
#news{
  background-color: #000000;
}
#slideshow {
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: 30rem;
  div {
    position: absolute;
    h1 {
      width: 100%;
      position: absolute;
      z-index: 100;
      text-align: center;
      font-size: 3rem;
      padding-top: 23%;
    }
    p {
      width: 100%;
      position: absolute;
      z-index: 100;
      text-align: center;
      font-size: 2rem;
      padding-top: 30%;    }
    img {
      width: 100%;
      height: 30rem;
    }
  }
}
