// Contact form
#contact {
  .spacer {
    height: 10rem;
  }
  #contact-form {
    .asterix {
      color: #c92121;
      font-size: 1.5rem;
      font-weight: bold;
    }
    label {
      display: block;
      margin: 1rem;
      #message-box {
        width: 70%;
        height: 5rem;
        margin: 0.5rem 0 1rem 0;
        float: right;
      }
      input {
        display: inline-block;
        width: 70%;
        height: 1.5rem;
        font-family: inherit;
        float: right;
      }
      #submit {
        width: 35%;
        height: 2rem;
        padding: 0;
        float: right;
      }
      textarea {
        font-family: inherit !important;
        font-size: 0.9rem;
      }
    }
  }
  #check-music {
    border-bottom: 1px solid white;
    &:before {
      content:"";
      display:block;
      height:5.5rem; /* fixed header height*/
      margin:-5.5rem 0 0; /* negative fixed header height */
    }
    .artist {
      position: relative;
      width: 5.5rem;
      height: 5.5rem;
      float: left;
      padding: 0;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      // &:hover {
        .media-container {
          h1 {
            position: absolute;
            width: 100%;
            height: 2rem;
            z-index: 1;
            top: 1rem;
            text-align: center;
            font-size: 0.8rem;
            background-color: #c92121;
            opacity: 0.9;
            padding-top: 0.6rem;
            &:hover {
              background-color: #9f1a1a;
            }
          }
        }
      // }
    }
  }

}
